/* https://coolors.co/1f4068-434371-a9def9-70ee9c-b5f44a */
@import 'functions';


* {
    margin: 0px;
    padding: 0px;
}

/* Scroll bar */

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

body {
    background-color: dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
}



.inner {
    background: rgb(7, 218, 165);
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 12%);
    transition: all .5s ease-in-out;
    cursor: pointer;

    &:hover {
        clip-path: circle(75%);
        background: #00b6ff;
    }
    span {
        float: right;
        color: white;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        margin-right: 4%;
    }

    &:hover span {
        color: rgba(255,255,255,0)
    }

    h1 {
        color: white;
        margin: 0;
    }

    p {
        color: white;
        margin: .8rem;
    }
}

