/* https://coolors.co/1f4068-434371-a9def9-70ee9c-b5f44a */
@import 'functions';

:root {
    font-size: 16px;
    font-family: 'Raleway';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

/* Scroll bar */

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

