/* https://coolors.co/1f4068-434371-a9def9-70ee9c-b5f44a */
@import 'functions';


* {
    margin: 0px;
    padding: 0px;
}

/* Scroll bar */

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

body {
    background-color: dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
}


.container{
    background: white;
    height: 30vh;
    width: 60%;
    border-radius: 10px;
    

    .inner {
        float: right;
        background: rgb(7, 218, 165);
        padding: 0 1rem;
        border-radius: 5px;
        height: 100%;
        width: 300px;
        clip-path: circle(5% at 50% 90%);
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            clip-path: circle(99.7% at 100% 100%);
            background: #00b6ff;
            transition: all .3s ease-in-out;
        }
    

        span {
            float: right;
            color: white;
            font-weight: bold;
            transition: color .5s;
            position: relative;
            margin-right: 4%;
        }
    
        &:hover span {
            color: rgba(255,255,255,0)
        }
    
        h1 {
            color: white;
            margin: 0;
        }
    
        p {
            color: white;
            margin: .8rem;
        }
    }
    


}

